body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #020202;
}

#tablaResultado {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#tablaResultado img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

@media (min-width: 700px) {
    #header-container {
        position: relative; 
        background-color: transparent; 
    }
    
    label, select, button {
        margin: 10px;
        font-size: 20px; 
        background-color: #070707;
        color: #fff;
    }
}