body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dddddd;
    padding: 20px;
}

.tabla-tasas {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(94, 87, 87, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #112374;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="range"] {
    width: 100%;
}

p {
    font-weight: bold;
}

