/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #264d78;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#img{
    background-color: #264d78;
    color: #fff;
    margin-right: 100%;
    padding: 0;
}

h1 {
    background-color: #264d78;
    color: #fff;
    text-align: center;
    margin-top: -130px;
    padding: 5px;
}

h2 {
    background-color: #264d78;
    color: #fff;
    text-align: center;
    margin-top: -30px;
    padding: 5px;
}

a {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #368cdd;
}

a:hover,
a:active {
    background-color: #0a6f9e;
    color: #fff;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

